/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*
Limpar formatações padro?s
*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box; 
    overflow-x: hidden;
  }
  
  body, html{
  height: 100%;
  
  }

  a {
      color: #d9d9d9;
  }

  p {
    padding: 10px;
  }

  footer {
    margin-top: 25px;
  }
  
  .red {
    color: #ff1616;
  }
  
  .black {
    color: black;
  }
  
  .space-avatar {
  margin-top: 31px;
  }
  .p3{
  color: #666;
  font-size: 15px;
  padding-bottom: 10px;
  }
  .col-lg-2 {
    padding: 0 !important;
  }
  
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.nav-item:hover {
  background-color: #fff;
  border-right: 5px solid #ff1616;
  border-bottom: 1px solid #2e2e2e;
  font-weight: bold;
}

.nav-item:hover a {
  color: #2e2e2e;
}

.top {
  margin-top: 20px;
  display: flex;
  justify-content: start;
}

.bi-search{
  display: block;
  float: right;
  z-index: 999;
  margin-top: -28px;
  margin-right: 10px;
}
.modal-header {
     border-top-left-radius: .0rem;
    border-top-right-radius: .0rem; 
    background: #2e2e2e;
    color: #fff;
}
.modal-header .close {
  color: #fff;
}

.number-notify {
  background-color: #ff1616;
  display: inline-block;
  width: 15px;
  font-size: 12px;
}

.glyphicon  {
  line-height: 2;
}
.more {
  margin-left: 5px;

}
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  li a { 
    font-size: 15px;
    font-family: 'Open Sans SemiBold', sans-serif;
  } 
  
  li a:link {
    text-decoration: none;
  }
  
  li a:visited {
    font-size: 14px;
  }
  

  
